div {
  font-family: 'Courier New', Courier, monospace;
}

.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.red-background {
  background-image: linear-gradient(to bottom right, red, transparent);
}

.yellow-background {
  background-image: linear-gradient(to bottom right, yellow, transparent);
}

.blue-background {
  background-image: linear-gradient(to bottom right, blue, transparent);
}

.purple-background {
  background-image: linear-gradient(to bottom right, purple, transparent);
}

.green-background {
  background-image: linear-gradient(to bottom right, green, transparent);
}

.orange-background {
  background-image: linear-gradient(to bottom right, orange, transparent);
}

.teal-background {
  background-image: linear-gradient(to bottom right, teal, transparent);
}

.chartreuse-background {
  background-image: linear-gradient(to bottom right, chartreuse, transparent);
}

.magenta-background {
  background-image: linear-gradient(to bottom right, magenta, transparent);
}

.violet-background {
  background-image: linear-gradient(to bottom right, violet, transparent);
}

.vermilion-background {
  background-image: linear-gradient(to bottom right, #e34234, transparent);
}

.amber-background {
  background-image: linear-gradient(to bottom right, #ffbf00, transparent);
}
